@page "/GastoIndex"
<div class="container mt-4">
<div class="row">
<div class="col-md-6">
            <h2>Gastos en Promoción de la Salud</h2>
            <p>
                Los gastos en promoción de la salud son fundamentales para mejorar la salud pública y reducir costos a largo plazo. 
                Estos gastos incluyen:
            </p>
            <ul>
                <li><strong>Análisis de costo-beneficio:</strong> Es esencial para evaluar la eficacia de los programas de promoción de la salud.</li>
                <li><strong>Implementación de actividades:</strong> Se requiere un análisis de costos para las actividades de promoción y prevención.</li>
                <li><strong>Reducción de gastos:</strong> La promoción de la salud ayuda a disminuir los gastos derivados de enfermedades, especialmente en un contexto de envejecimiento poblacional.</li>
            </ul>
            <p>
                <strong>Presupuesto:</strong> En años recientes, el presupuesto destinado a prevención y promoción de la salud ha sido del 2.8% del gasto total en salud en países miembros de la OCDE (Organización para la Cooperación y el Desarrollo Económico).
            </p>
            <p>
                Estos elementos son clave para entender cómo se financian y gestionan los gastos en promoción de la salud.
            </p>
</div>
<div class="col-md-6">
            <h2>Economía de la Salud: Costo - Beneficio</h2>
            <p>
                El análisis costo-beneficio es una herramienta utilizada en la toma de decisiones ya que permite evaluar la rentabilidad de un proyecto o programa o estrategia en salud.
            </p>
            <p>
                En el ámbito de la promoción de la salud, esta herramienta es esencial para evaluar la eficacia de los programas y las políticas de salud pública, así como el impacto social y en la salud de la población.
            </p>
            <p>
                Para ello, se identifican todos los gastos directos e indirectos del programa, así como los beneficios tangibles e intangibles que este genera. Luego, se compara contra los beneficios para determinar si el programa o estrategia es rentable o no.
            </p>
</div>
</div>

<div class="row mt-4 text-center">
    <div class="col-md-12">
        <a class="btn btn-primary" href="/GastoTotal">Ver Gasto Total en Salud</a>
        <a class="btn btn-success ms-3" href="/gasto-enfermedad">Ver Gasto por Enfermedad</a>
    </div>
</div>
</div>