@page "/GastoTotal"
<h3>Gasto Total en Salud</h3>
@* @foreach (var item in gastoTotal) *@
@* { *@
@*     <p>Año @item.Año: @item.TotalAnual.ToString("C")</p> *@
@* } *@

@code {
    // [Inject] private GastoTotalService GastoTotalService { get; set; }
    // private List<GastoTotalSalud> gastoTotal = new();
    //
    // protected override async Task OnInitializedAsync()
    // {
    //     gastoTotal = await GastoTotalService.GetAllAsync();
    // }
}